{% extends "base.html" %}
{% block "content" %}
<h1 class="mt-5">Contact</h1>
{% comment %}
<form method="POST">
    {% csrf_token %}
    Nume: <input type="text" name="numele_tau" required /> <br />
    Email: <input type="email" name="mail" placeholder="introdu emailul aici ..."/><br />
    Mesaj: <textarea row="50" cols="25" name="mesaj"></textarea> <br />
    Parola: <input type="password" name="pass" /> <br />
    Checkbox: <input type="checkbox" /> <br />
    Radio: <input type="radio" name="radio1"/><input type="radio" name="radio1"/> <br />
    Select: <select name="select-example">
                <option value="1">Unu</option>
                <option value="2" selected>Doi</option>
            </select>
    <input type="submit" value="Trimite!" />

</form>
<h1>POST Data</h1>
{{ request.POST }}

<h1>GET Data</h1>
{{ request.GET }}
{% endcomment %}


{{ form.as_p }}

{% endblock "content"%}