{% extends "base.html" %}
{% load humanize %}
{% block "content" %}
    <h1 class="mt-5">{{cursul_meu.nume}}</h1> 
        Pret: {{cursul_meu.pret |intcomma }} <br /> 
        Descriere: {{cursul_meu.descriere}} <br /> 
        Creat: {{cursul_meu.creat| naturaltime }} <br /> 
        Actualizat: {{cursul_meu.actualizat| naturaltime }} <br />
        {{cursul_meu.profesor}}
        <h2>Studenti</h2>
        <ol>
        {% for student in studenti %}
          <li>{{ student }}</li>
          {% empty %} <li>Nu sunt studenti inscrisi la acest curs.</li>
        {% endfor %}
        </ol>
       

{% endblock %}
         