{% extends "base.html" %}
{% block "content" %}

        <h1>Studenti</h1>
        {% for student in studenti %}
          <h4>{{ student }}</h4>
          <div class="student-info">
          An: {{ student.an }} <br />
          <h6>Cursuri</h6>
          <table>
           {% for curs in student.cursuri.all %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td>
                    {{ curs.nume }}
                </td>
              </tr>
           {% endfor %}
          </table>
        </div>
        {% endfor %}
{% endblock %}